@page
@model ResumeWebApp.Pages.Admin.AddEducationModel
@{
}
<div class="row justify-content-center">

    <div class="col-md-10 justify-content-center">
        <h2>
            Add Educational Details
        </h2>
        <form class="row g-3" method="post">
            <div class="col-md-6">
                <label class="form-label">DegreeTitle</label>
                <input asp-for="edu.DegreeTitle" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">DegreeSession</label>
                <input asp-for="edu.DegreeSession" class="form-control">
            </div>
            <div class="col-md-12">
                <label class="form-label">InstituteName</label>
                <input asp-for="edu.InstituteName" class="form-control">
            </div>
            <div class="col-md-12">
                <label class="form-label">Description</label>
                <textarea asp-for="edu.Des" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary mt-3">AddEducation</button>
                <a asp-page="ShowEducation" class="btn btn-outline-secondary mt-3">Back to List</a>
            </div>
        </form>

    </div>

</div>