@page
@model ResumeWebApp.Pages.Admin.UpdateExperianceModel
@{
}
<div class="row justify-content-center">

    <div class="col-md-10 justify-content-center">
        <h2>
            Update Experiance Details
        </h2>
        <form class="row g-3" method="post">
            <div class="col-md-6">
                <label class="form-label">Designation</label>
                <input asp-for="exp.Designation" class="form-control">
                <input hidden asp-for="exp.Id" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">Session</label>
                <input asp-for="exp.Session" class="form-control">
            </div>
            <div class="col-md-12">
                <label class="form-label">Address</label>
                <input asp-for="exp.Address" class="form-control">
            </div>
            <div class="col-md-12">
                <label class="form-label">Description</label>
                <textarea asp-for="exp.Des" class="form-control"></textarea>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary mt-3">UpdateExperiance</button>
                <a asp-page="ShowExperiance" class="btn btn-outline-secondary mt-3">Back to List</a>
            </div>
        </form>

    </div>

</div>